@import "~react-toolbox/lib/colors";

.panel {
  h1 {
    color: #2F302C;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;

  }
  p {
    color: #B4A995;
    font-size: 1.1em;
    font-weight: 200;
    text-align: center;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

